<div class="linkslist">
  <p class="asidetitle"><%= __('links') %></p>
    <ul>
      <li><a href="http://www.jikedaohang.com/index.html" target="_blank" title="极客导航">极客导航</a></li>
      <li><a href="http://www.importnew.com/" target="_blank" title="专注Java开发">importnew</a></li>
	  <li><a href="https://github.com/Arisono/MarksToAndroid" target="_blank" title="我的书签">我的书签</a></li>
	  
	  <li><a href="http://www.trinea.cn/" target="_blank" title="trinea 专注Android开发">Trinea</a></li>
	
    </ul>
</div>
